{% extends "layout.html" %} {% block content %}

<div class="container text-center margin-top-bottom-10">
  <div class="row">
    <a href="/" class="btn btn-secondary width-100 margin-top-bottom-10">Voltar</a>
    <div class="column-custom">
      <h1>Episódios</h1>
    </div>
    <div class="col-md-3 column-custom">
      <h2 class="title">Nome</h2>
    </div>
    <div class="col-md-3 column-custom">
      <h2 class="title">Data de Lançamento</h2>
    </div>
    <div class="col-md-3 column-custom">
      <h2 class="title">Temporada</h2>
    </div>
    <div class="col-md-3 column-custom">
      <h2 class="title">Detalhes</h2>
    </div>
  </div>

  {% for episode in episodes %}
  <div class="row">
    <div class="col-md-3 column-custom">{{episode.name}}</div>
    <div class="col-md-3 column-custom">{{episode.air_date}}</div>
    <div class="col-md-3 column-custom">{{episode.episode}}</div>
    <div class="col-md-3 column-custom">
      <a href="/episode/{{episode.id}}">Ver detalhes do episódio</a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
