{% extends "layout.html" %} {% block content %}

<div class="container text-center margin-top-bottom-10">
  <div class="row">
    <a href="/" class="btn btn-secondary width-100 margin-top-bottom-10">Voltar</a>
    <div class="column-custom">
      <h1>Localizações</h1>
    </div>
    <div class="col-md-3 column-custom">
      <h2 class="title">Nome</h2>
    </div>
    <div class="col-md-3 column-custom">
      <h2 class="title">Tipo</h2>
    </div>
    <div class="col-md-3 column-custom">
      <h2 class="title">Dimensão</h2>
    </div>
    <div class="col-md-3 column-custom">
      <h2 class="title">Detalhes</h2>
    </div>
  </div>

  {% for location in locations %}
  <div class="row">
    <div class="col-md-3 column-custom">{{location.name}}</div>
    <div class="col-md-3 column-custom">{{location.type}}</div>
    <div class="col-md-3 column-custom">{{location.dimension}}</div>
    <div class="col-md-3 column-custom">
      <a href="/location/{{location.id}}">Ver localização</a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
