{% extends "layout.html" %}

{% block content %}
<div class="container text-center">
    <img
      src="{{profile.image}}"
      alt="{{profile.name}}"
      class="img-fluid rounded"
      style="width: 37rem; margin: 2rem;"
    />
    <h3 class="h3">{{profile.name}}</h3>
    <p class="lead">Espécie: {{profile.species}}</p>
    <p class="lead">Gênero: {{profile.gender}}</p>
    <p class="lead">Status: {{profile.status}}</p>
    <p class="lead">Localização: {{profile.location.id}}</p>
</div>
{% endblock content %}
